.page{
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;;
    max-width: 1280px;
    margin: 0 auto;
    color: white;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
}