.body{
    margin: 0 auto;
    background-color: #2A2C2F;
}

.page{
    font-family: Inter;
    max-width: 1280px;
    margin: 0 auto;
    color: white;
}

.header{
    max-width: 1184px;
    width: 93%;
    display: flex;
    justify-content: space-between;
    margin: 28px auto 0;
}

.header__logo{
    background-image: url(./images/logo.svg);
    width: 176px;
    height: 52px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__links{
    margin-top: 23px;
}

.header__lang-link{
    color: white;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    margin-right: 18px;
}

.header__lang-link_language_ru{
    text-decoration: underline;
}

.header__lang-link:last-child{
    margin-right: 0;
}

.lead{
    margin: 5% auto 0;
    max-width: 984px;
    width: 90%;
    text-align: center;
}

.lead__title{
    max-width: 720px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

.lead__subtitle{
    margin: 32px auto 0;
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
}

.lead__image{
    margin-top: 6%;
    max-width: 984px;
    width: 100%;
    display: flex;
    object-fit: cover;
}

.lead__caption{
    text-align: left;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 8px 0 0;
}

.intro{
    margin: 0 auto;
    max-width: 984px;
    margin-top: 92px;
    width: 90%;

}

.intro__title{
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0 auto;
    text-align: left;
}

.intro__text{
    margin: 40px 0 0;
    width: 690px;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
}

.intro__list{
    list-style: none;
    padding: 0;
    margin: 33px 0 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.intro__list_number_no-bold{
    font-weight: normal;
}

.photo-grid{
    max-width: 1184px;
    margin: 92px auto 0;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    justify-items: center;
}

.photo-grid__item{
    max-width: 352px;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1100px) and (min-width: 800px){
    .photo-grid{
        grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
        margin: 0 48px 0;
        gap: 14px;
    }
}

.places{
    margin: 92px auto 0;
    max-width: 984px;
    width: 90%;
}

.place{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
    gap: 48px 35px;
    margin-top: 80px;
}

.place:first-child{
    margin-top: 0;
}

.place__title{
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

.place__website{
    align-self: flex-end;
}

.website__url-heading{
    margin: 0 0 12px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}

.website__link{
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: white;
}

.website__link:hover{
    opacity: 0.8;
}

.place__image{
    object-fit: cover;
    max-width: 460px;
    width: 100%;
}

.place__paragraph{
    font-size: 18px;
    line-height: 163%;
    margin: 0;
    max-width: 484px;
}

.place__paragraph:nth-child(2){
    margin-top: 26px;
}

.cover{
    display: grid;
    max-width: 1184px;
    margin: 92px auto 0;
    position: relative;
    top: 0;
    
}

.cover__image{
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.cover__overlay{
    width: 100%;
    height: 100%;
    background-color:rgba(42,44,47,0.3);
    color: white;
    position: absolute;
    text-decoration: none;
    z-index: 0;
}

.cover__overlay:hover{
    background-color:rgba(42,44,47,0.8);
}

.cover__title{
    width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0 auto;
    padding-top: 20%;
    text-align: center;
}

.cover__subtitle{
    width: 360px;
    font-size: 18px;
    line-height: 22px;
    margin: 32px auto 0;
    text-align: center;
    font-weight: normal;
}

.footer{
    display: flex;
    margin: 92px 42px 24px;
    max-width: 1184px;
    justify-content: space-between;
}

.footer__link{
    color: white;
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
    text-decoration: none;
}

.footer__link:hover{
    opacity: 0.8;
}

.footer__link:last-child{
    margin-right: 0px;
}

.footer__copyright{
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}