.footer__copyright{
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 700px){
    .footer__copyright{
        margin: 48px 0 0;
        font-size: 14px;
        line-height: 14px;
    }
}