.cover__title{
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0 auto;
    padding-top: 20%;
    text-align: center;
}

@media screen and (max-width: 1100px){
    .cover__title{
        padding-top: 19%;
    }
}

@media screen and (max-width: 799px){
    .cover__title{
        padding-top: 15%;
    }
}

@media screen and (max-width: 700px) {
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        padding-top: 10%;
    }
}